<div class="products">
    <div class="products__menu">
        <app-order-outlet *ngIf="withOrdering"
            [options]="orderOptions"
            (onChange)="handleOrderChange($event)"
        ></app-order-outlet>
        <app-filter-price
            *ngIf="withFilterPrice"
            (onApply)="handleFilterPrice($event)"
        ></app-filter-price>
    </div>

    <app-product-list
        *ngIf="this.products && this.products.length"
        [products]="this.products">
    </app-product-list>

    <div *ngIf="loading" class="text-center">
        <app-loader></app-loader>
    </div>

    <div *ngIf="!loading && !isAllFetched" class="text-center">
        <button class="btn btn-dark" (click)="fetchProducts()">Load more</button>
    </div>
</div>
