<div class="card-outer">
    <div class="card product-card" style="width: 14rem;">
        <img [src]="getImageSrc()" class="card-img-top" [alt]="product.title">
        <div class="card-body">
            <h5 class="card-title">
                <a style="cursor: pointer" (click)="handleNavigate()">{{product.title}}</a>
            </h5>
            <div class="card-bottom">
                <div class="card-price">{{product.price|currency}}</div>
                <button
                    class="btn btn-primary"
                    (click)="handleAddProductToCart(product)"
                >
                    <span class="material-icons">shopping_cart</span>
                </button>
            </div>
        </div>
    </div>
</div>
